/* ***************** */
/* ***** FONTS ***** */
/* ***************** */

/** Brother 1816 regular **/
@font-face {
    font-family: "brotherRegular";
    src: url(/fonts/Brother1816-Regular.woff2);
}
/** Brother 1816 Bold **/
@font-face {
    font-family: "brotherBold";
    src: url(/fonts/Brother1816-Bold.woff2);
}

/* ***************** */
/* ***** BODY ****** */
/* ***************** */
body{
    background-color: #556B69;
    color: #474C46;
    display: flex;
    justify-content: center;
    font-family: "brotherRegular";
    padding-top: 40px;
}

/** DIV container **/
.container {
    max-width: 1440px;
    width: 1440px;
}

/* ***************** */
/* **** DEF H.. **** */
/* ***************** */
h1{
    font-family: "Brotherbold";
    font-size: 100px;
    letter-spacing: 12px;
    margin: 0;
    padding: 0;
}

h2{
    font-family: "Brotherbold";
    font-size: 60px;
    margin: 0;
    padding: 0;
}

h3{
    font-family: "brotherregular";
    font-size: 30px;
    margin: 0;
    padding: 0;
}

/* ***************** */
/* **** PORTADA **** */
/* ***************** */
.portada{
    padding: 20px;
    background-color: #FDFDFD;
}
/* ***************** */
/* ****** NAV ****** */
/* ***************** */

/**BG-NAV**/
nav{
    /** DISPLAY */
    display: flex;
    justify-content: space-between;
    /** BG */
    background-image: url("/img/desktop/img-portada1.webp");
    background-size: cover;
    /** SIZE */

}
/**LISTAS NAV**/
ul{
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
    height: 150px;
    display: flex;
    align-items: center;
}
.navright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.logo{
    font-family: "brotherBold";
    font-size: 30px;
    letter-spacing: 5px;
}

ul li{
    margin-right: 20px;
    margin-left: 20px;
    letter-spacing: 5px;
}

.textsubscribe{
    border: solid 3.3px black;
    padding: 20px 40px 20px 40px;
}

/* ****************** */
/**  BANNER PORTADA  **/
/* ****************** */
.bannerportada{
    /** imagen portada // con cover */
    background-image: url("/img/desktop/img-portada2.webp");
    height: 750px;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;;
}

.titulo{
    margin-top: 150px;
}

.subtitulo{
    margin-top: 30px;
    letter-spacing: 2.5px;
}

.linedown{
    border: 4px solid #799691;
    width: 80px;
    border-radius: 2px;
    margin-top: 40px;
}

/**************************************************/
/**************************************************/

/* **************** */
/* **** LATEST **** */
/* **************** */
figure{
    background-color: #FDFDFD;
}

.latest{
    background-color: #F4F6F3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.titulolatest{
    letter-spacing: 2.5px;
    margin-top: 150px;
}

.hrlatest{
    border: 2px solid;
    background-color: #454744;
    width: 80px;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.imagenes{
    display: flex;
    margin-bottom: 200px;
}

.imagen{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hrpicture{
    border: 1.5px solid;
    background-color: #454744;
    width: 40px;
    margin-top: 80px;
    margin-bottom: 30px;
}

figcaption{
    font-size: 18px;
    letter-spacing: 1.5px;
    padding: 0 68px 0 68px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 70px;
}

.figcenter{
    padding: 0 30px 0 30px;
}

/* ***************** */
/* ***** ABOUT ***** */
/* ***************** */

.about{
    background-color: #FDFDFD;
    display: flex;
    justify-content: center;
    width: 100%;
}

.imagenabout{
    background-image: url("/img/desktop/img-about.webp");
    height: 657px;
    width: 50%;
    background-size: cover;
}

.textoabout{
    padding-top: 10%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.t-about{
    letter-spacing: 5px;
}

.hrabout{
    border: 2px solid;
    background-color: #454744;
    width: 60px;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.parrafo-about{
    font-size: 16px;
    text-align: justify;
    word-spacing: 8px;
    margin: 0 100px 0 100px;
    line-height: 35px;
}